.page-home {

  .map,
  .map-base {
    height: 100vh;
  }

  main {
    padding: 0;
  }
}

.home-start {

  padding-top: 4em;
  padding-bottom: 4em;

  h2 {
    margin-top: 0;
  }

  p {
    margin-bottom: 1.2em;
  }

  pre {
    margin-bottom: 1.5em;
  }

}